{% extends "base.html.twig" %}

{% block body %}
	<h1 class="title">Edito</h1>
	<div class="container">
		<div class="message-body">
			<p>	
		  	Vous êtes au bon endroit !
			Bienvenue sur Univers-Toine, la plateforme qui vous offre un espace communautaire old-school où vous pouvez discuter et vous connecter avec des personnes qui partagent les mêmes centres d'intérêts que vous.
			Notre forum regorge de discussions passionnantes sur une variété de sujets classés dans des catégories appropriées. Et ce n'est pas tout ! Nous avons également une section actualité qui vous tient informé sur les dernières tendances et nouvelles importantes.
			</p>
			<p>
			<center><a href="">Direction le forum</a></center>
		  	</p>
			<p>	
			Alors, ne perdez plus de temps et rejoignez-nous dans notre espace communautaire ! Si vous le souhaitez, vous pouvez vous inscrire via le lien "s'inscrire" et commencer à explorer notre monde passionnant dès maintenant.
			</p>
			<a href="{{ path('users.register') }}" class="button is-info">S'inscrire&emsp;<i class="fa fa-arrow-right"></i></a>
			<p class="mt-5">
				<h3 class="title is-3">Avancement du développement : 30%</h3>
				<progress class="progress is-success" value="30" max="100">30%</progress>
			</p>
			<button class="js-modal-trigger data-target button is-info" data-target="modal-patch-12-02-23">Patch-note 12/02/2023</button>
			<button class="js-modal-trigger data-target button is-primary is-large" data-target="modal-patch-13-02-23">Patch-note 13/02/2023</button>
			
			<!-- PATCHS -->
			<div class="modal" id="modal-patch-12-02-23">
			  <div class="modal-background"></div>
			  <div class="modal-card">
			    <header class="modal-card-head">
			      <p class="modal-card-title">PatchNote 12/02/2023</p>
			      <button class="delete" aria-label="close"></button>
			    </header>
			    <section class="modal-card-body has-text-dark">
			    	<ol>			    		
				     	<li><i class="fa-solid fa-pencil has-text-success"></i> Ajout d'un système de mise en forme du texte lors d'une réponse dans le forum</li>
						<li><i class="fa-solid fa-message has-text-success"></i> Ajout de la mise en forme à l'affichage d'un message du forum</li>
						<li><i class="fa-solid fa-screwdriver-wrench has-text-warning"></i> Modification des liens menant à un sujet. Ils pointent désormais sur la bonne page</li>
						<li><i class="fa-solid fa-user has-text-warning"></i> Modification de la page d'un profil, actualisation des informations affichés à lécran et mise en forme revue entièrement.</li>
			    	</ol>
			    </section>
			    <footer class="modal-card-foot">
			    	<button class="button">Fermer</button>
			    </footer>
			  </div>
			</div>

			<div class="modal" id="modal-patch-13-02-23">
			  <div class="modal-background"></div>
			  <div class="modal-card">
			    <header class="modal-card-head">
			      <p class="modal-card-title">PatchNote 13/02/2023</p>
			      <button class="delete" aria-label="close"></button>
			    </header>
			    <section class="modal-card-body has-text-dark">
			    	<ol>			    		
				     	<li><i class="fa-solid fa-pencil has-text-success"></i> Ajout de la possibilité d'éditer un message sur le forum</li>
				     	<li><i class="fa-solid fa-pencil has-text-success"></i> Ajout de la possibilité de créer un sujet sur le forum</li>

				     	<li><i class="fa-solid fa-screwdriver-wrench has-text-warning"></i> Modification des liens menant à un sujet. Il point désormais vers le message en question grâce aux ancres. </li>

				     	<li><i class="fa-solid fa-trash has-text-danger"></i> Suppression du nom de la page en cours en dessous du menu</li>
			    	</ol>
			    </section>
			    <footer class="modal-card-foot">
			    	<button class="button">Fermer</button>
			    </footer>
			  </div>
			</div>

			<!-- END PATCHS -->

			<h3 class="title is-3 mt-5">Fonctionnalités disponible</h3>
			<p>
				<h4 class="title is-4 mt-5">News</h4>
				<ul>
					<li>* Affichage de la liste des news sur l'accueil (plus bas ici)</li>
					<li>* Possibilité de voir une actus dans une page dédiée en cliquant sur son titre</li>
					<li>* Possibilité de créer une actus (admin uniquement)</li>
				</ul>
				<h4 class="title is-4 mt-5">Espace membre</h4>
				<ul>
					<li>* Connexion est inscription disponible</li>
					<li>* Possibilité de voir un profil dans une page dédiée en cliquant sur son pseudo</li>
					<li>* Possibilité de modifier son profil <s0pan style="color:orange">(En cours de création)</span></li>
				</ul>
				<h4 class="title is-4 mt-5">Forum</h4>
				<ul>
					<li>* Affichage de la liste de tout les forums triés par catégorie dans une page dédiée</li>
					<li>* Liste de tout les sujets d'un forum affiché dans une page dédiée</li>
					<li>* Possibilité de répondre à un sujet via le formulaire de réponse situé en bas de chaque sujet (Membre uniquement)</li>
				</ul>
			</p>
		</div>
	</div>
	<h1 class="title mt-5">Dernière Actus</h1>
	<div class="columns mt-4">	
   	{% for new in news %}
   		<div class="column is-one-third">
			<div class="card" style="background-color: rgba(255,255,255,0.2);">
			  <div class="card-image">
			    <figure class="image is-2by2">
			      <img src="{{ asset('uploads/news/' ~ new.thumbnail) }}" alt="Placeholder image">
			    </figure>
			  </div>
			  <div class="card-content">
			    <div class="media">
			      <div class="media-left">
			      <figure class="image is-48x48">
		          	<img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
		          </figure>
			      </div>
			      <div class="media-content">
			        <p class="title is-3 has-text-dark">{{ new.title }}</p>
			      </div>
			    </div>

			    <div class="content">
			      {{ new.content|raw|length > 300 ? new.content|slice(0, 300) ~ '...' : new.content|raw }}<a href="{{ path('news.view', {id: new.id}) }}" class="has-text-success"> Lire la suite <i class="fa-solid fa-arrow-right"></i></a>
			      <br>
			      <time datetime="2016-1-1" class="has-text-primary">Le {{ new.creationDate | date('d/m/Y à H:i') }}</time>
			    </div>
			  </div>
			</div>
		</div>
	{% endfor %}
	</div>
{% endblock %}