{% extends "default/base.html.twig" %}

{% block body %}
    <div class="message is-info">
        <div class="message-header">
          <p>Inscription à l'espace membre</p>
        </div>
        <div class="message-body">
          <p>
          A fin de pouvoir profiter d'un espace personnel ainsi que de fonctionnalités d'intéractions au sein du site, il est nécessaire de vous authentifier. Si vous ne possedez pas de compte, vous pouvez en créer un ici.  
          </p>
          <p><br>
          Si vous possedez déjà un compte, connectez-vous en suivant le lien suivant : <a href="login">Me connecter</a>.
          </p>
        </div>
    </div>
    <div class="columns">
        <div class="column"></div>
        <div class="column is-two-fifth">
            {{ form_start(form) }}
                <div class="form-group">
                    {{ form_row(form.display_name) }}
                    {{ form_errors(form.display_name) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.email) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="form-group">
                    {{ form_row(form.plainPassword) }}
                    {{ form_errors(form.plainPassword) }}
                </div>

                <div class="form-group">
                    {{ form_row(form.submit) }}
                </div>
                
            {{ form_end(form) }}
        </div>
        <div class="column"></div>
    </div>
    
{% endblock %}
